<?php

if(empty($_GET['id'])) {
  header ("Location: ../");
}

$items = $this->items;
$id = $this->id;
$data = $this->data;
$nr_content = $this->nr_content;
$li_komms = $this->li_komms;

if(!empty($_POST['komm'])) {
$komm = strip_tags($_POST['komm']);
$lk_id = strip_tags($_POST['lk_id']);
$data->addComment($lk_id, $komm);
}

if(empty($_GET['pg'])) {
  $current_page = 1;
} else {
  $current_page = $_GET['pg'];
}

$total_items_page = 5;
$total_pages = ceil(count($li_komms) / $total_items_page);

$items->getPages($total_pages, $current_page, $id);
$pagesList = $items->itemsPosition($current_page, $total_items_page, $li_komms);
$start = intval($pagesList['start']);
$end = intval($pagesList['end']);
$kommsPerPage = $items->getItemsSubset($li_komms, $start, $end);

echo "<br>";
echo htmlspecialchars($nr_content['telnr'] . " ");
echo htmlspecialchars($nr_content['selgitus']);
echo "<br>";
echo "<br>";

foreach ($kommsPerPage as $li_komm) {
  echo htmlspecialchars($li_komm['komm']);
  echo "<br>";
}
?>

<form action="index.php?id=<?=$id;?>&pg=<?=$current_page?>" method="post">
  <input type="text" name="komm" placeholder="Kes on veel samalt numbrilt helistanud?">
  <input type="hidden" name="lk_id" value="<?=$id;?>">
  <input type="submit" value="Lisa"></input>
</form>
