<?php
define("ROOT_PATH",$_SERVER["DOCUMENT_ROOT"] . "/");
define("BASE_URL","/");
?>

<!DOCTYPE HTML>
<html>
  <head>
    <title>KesHelistab?</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="<?= BASE_URL; ?>css/bootstrap.min.css">
    <script type="text/javascript" src="<?= BASE_URL; ?>js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="<?= BASE_URL; ?>js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="<?= BASE_URL; ?>">KesHelistab?</a>
          </div>
          <form action="<?= BASE_URL; ?>search/index.php" method="get" class="navbar-form navbar-right" role="search">
            <input type="text" name="s" placeholder="Otsi numbrit">
            <input type="submit" value="Otsi">
          </form>
          <a href="<?= BASE_URL; ?>add/" class="navbar-text">Lisa number!</a>
        </div>
      </nav>
      <div class="container">
        <?php $this->content(); ?>
      </div>
      <div class="panel-footer">
        <center><a class="navbar-default btn-link" href="">Kontakt</a></center>
      </div>
      <script type="text/javascript">
      $('[data-toggle="popover"]').popover();
      </script>
  </body>
</html>
