  <?php

  $data = $this->data;

  if (!empty($_POST['nmbr'])) {
    if (isset($_POST['nmbr']) && is_numeric($_POST['nmbr'])) {

      $nmbr = $_POST['nmbr'];
      $selgitus = trim($_POST['selgitus']);

      $variandid = array(" ", "+372", "372");
      $nmbr_clean = trim(str_replace($variandid, "", $nmbr));

      if (strlen($nmbr_clean) >= 7 && strlen($nmbr_clean) <= 12 && strlen($selgitus) <= 50) {

        try {
          $data->addNumber($nmbr_clean, $selgitus);
        } catch (\PDOException $e) {
          echo "Number juba andmebaasis olemas.";
          echo "<br>";
        }
        if (!isset($e)) {
          echo htmlspecialchars($nmbr_clean). " lisatud andmebaasi, täname!";
          echo "<br>";
        }

      } else {
        echo "Number ei vasta standardile.";
      }
    } else {
      echo "Kontrollige numbrit!";

    }
  };

  ?>

  <script type="text/javascript" src="../js/char-left.js"></script>
  <form action="" method="post" class="form-group">
    <input type="text" maxlength="15" name="nmbr" placeholder="Number?" required>
    <br><br>
    <textarea maxlength="50" rows="3"  cols="21" name="selgitus" placeholder="Kes helistas? Mida pakuti?" id="selgitus" required></textarea>
    <br>
    <div id="textarea_feedback"></div>
    <input type="submit" value="Lisa!">
  </form>
