<?php

if (empty($_GET['pg'])) {
  $current_page = 1;
} else {
  $current_page = $_GET['pg'];
}

?>
      <section>
        <div class="row">
          <div class="pagination">
            <?php $numbrid = $this->numbrid; ?>
            <?php $data = $this->data; ?>
            <?php $pageAction = $this->pageAction; ?>
            <?php $total_nr_per_page = 5; ?>
            <?php $total_pages = ceil(count($numbrid) / $total_nr_per_page); ?>
            <?php print $pageAction->getPagesList($total_pages, $current_page); ?>
            <?php

            $items = $pageAction->itemsPosition($current_page, $total_nr_per_page, $numbrid);

            $start = intval($items['start']);
            $end = intval($items['end']);

            if ($current_page > $total_pages) {
              header ("Location: index.php?pg=$total_pages");
            }
            if ($current_page < 1) {
              header ("Location: index.php?pg=1");
            }

            ?>
          </div>
        </div>

        <?php $numbridLehel = $pageAction->getItemsSubset($numbrid, $start, $end); ?>

        <?php foreach ($numbridLehel as $nmbr): ?>
        <div class="row">
          <div class="col-xs-8">
            <li class="list-group-item">
            <h3><a href="content/index.php?id=<?=$nmbr['telnr']; ?>&pg=1"><?=$nmbr['telnr']; ?></a></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <p class="list-group-item-text">
              <?=nl2br($nmbr['selgitus']);?>
            </p>
          </li>
          </div>
        </div>
      </section>
      <hr>
    <?php endforeach; ?>
