<?php

$telnrid = $this->telnrid;

?>

<section>
<?php
if (!empty($_GET['s'])) {

foreach ($telnrid as $telnr) {
  echo "<a href=../content/index.php?id=".$telnr['telnr']."&pg=1>".$telnr['telnr']."";
  echo "<br>";
}
} else {
  echo "Sisestage palun otsistav number.";
}
?>
</section>
